<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lxh.fushoujia.mapper.SecondSendMapper">

    <select id="listSecondSend" resultType="SecondSend" parameterType="int">
        select * from second_send where firstId = #{firstId} and isDelete = false order by id asc ;
    </select>

    <select id="listSecondSendByUser" resultType="SecondSend" parameterType="java.util.Map">
        select * from second_send
        <where>
            userId = #{userId} and  isDelete = false
            <if test="searchKey != null">
                and process like concat('%', #{searchKey}, '%')
            </if>

        </where>
        order by sendTime desc limit #{start}, #{count};
    </select>


    <select id="getSecondSend" parameterType="int" resultType="SecondSend">
        select * from second_send where id = #{id};
    </select>

    <insert id="addSecondSend" parameterType="SecondSend" keyColumn="id" useGeneratedKeys="true" keyProperty="id">
        insert into second_send (process, sendTime, endTime, cycle, remark, status, special, userId, firstId, createDate, updateDate, principal) values (#{process}, #{sendTime}, #{endTime}, #{cycle}, #{remark}, #{status}, #{special}, #{userId}, #{firstId}, now(), now(), #{principal});
    </insert>

    <update id="updateSecondSend" parameterType="SecondSend">
        update second_send
        <set>
            <if test="process != null">
                process = #{process},
            </if>
            <if test="sendTime != null">
                sendTime = #{sendTime},
            </if>
            <if test="endTime != null">
                endTime = #{endTime},
            </if>
            <if test="cycle != null">
                cycle = #{cycle},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
            <if test="status != null">
                status = #{status},
            </if>


            <if test="userId != 0">
                userId = #{userId},
            </if>
            <if test="firstId != 0">
                firstId = #{firstId},
            </if>
            <if test="isDelete != false">
                isDelete = true,
            </if>
            <if test="principal != null">
                principal = #{principal},
            </if>
            special = #{special},
            updateDate = now()
        </set>
        where id = #{id};
    </update>

</mapper>